html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.App {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.none {
    display: none;
}

hr {
    opacity: 1;
    border-top: 1px solid;
    border-color: rgb(180, 144, 144);
}

#head {
    background-color: rgba(0, 0, 0, 0.301);
    position: fixed;
    z-index: 10000;
    left: 0px;
    right: 0px;
    transition: top 0.5s;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#header > a {
    color: white;
}

#header > a:hover {
    color: rgb(214, 175, 175);
}

#logo {
  height: 120px;
  width: 140px;
  margin-top: 8px;
  border-radius: 20%;
  transition: width .5s, height .5s;
}

.aboutsection {
    padding-top: 8%;
    height: 2000px;
    background-image: url('../images/carpentry.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home {
    background-color: black;
    color: white;
}

.home > div > p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}

.content {
    margin-top: 5%;
    padding-bottom:  5%;
    line-height: 2;
}

.email {
    color: white;
}

.email:hover {
    color: rgb(182, 111, 64);
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery > h1 {
    padding-top: 2%;
}

.hrline {
    margin-top: 2%;
    width: 42.5%;
}

.finish1 {
    padding-top: 2.5% !important;
    width: 1200px;
    height: 1100px;
}

.restfinish {
    width: 1200px;
    height: 1100px;
}

.finish7 {
    height: 1100px;
}

.collapse3 {
    width: 800px;
    height: 1000px;
}

.gallery > img {
    padding-top: .5%;
}

.collapsesection > img {
    padding-top: 1%;
}

.collapsible {
    background-color: #000000;
    color: #ffffff66;
    font-size: 15px;
    width: 1200px;
  } 

  .showmore {
    font-weight: 400;
    text-align: right;
    cursor: pointer;
    margin-top: 3%;
    width: 15%;
    margin-left: auto;
  }

  .showmore:hover {
    color: rgba(255, 255, 255, 0.795);
  }

  .dropdown {
    width: 100%;
    text-align: right;
  }

  .collapsesection{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .line {
    width: 42.5%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
  }

  .contact {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
  }

  .contact > p {
    font-size: 20px;
  }

  
  .content {
    border: 3px solid white;
    width: 41.5%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3%;
  }

  .content > h2 {
    margin-bottom: 8%;
    margin-top: 2%;
  }

  .backtotop {
    color: white;
    margin-bottom: 2%;
  }

  .backtotop:hover {
    color: rgba(255, 255, 255, 0.555);
  }

  .top {
    padding: 2%;
  }