html, body {
    height: 100%;
    background-color: rgb(0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
  list-style-type: none;
  width: 100%;
}

.App {
    text-align: center;
    color: rgb(255, 255, 255);
}

.show {
  display: inline-block;
}

.none {
    display: none;
}

hr {
    opacity: 1;
    border-top: 1px solid;
    border-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

#head {
    background-color: #241d1d2d;
    position: fixed;
    z-index: 10000;
    left: 0px;
    right: 0px;
    transition: top 0.5s;
    height: 140px;
}

#logo {
  height: 105px;
  width: 115px;
  margin-top: 20px;
  border-radius: 50%;
  transition: .5s ease-in-out;
}

.home {
    color: white;
}

.about-section > h2 {
  padding-top: 210px;
  font-family: 'Oswald', sans-serif;
}

.about-section > hr { 
  width: 850px;
}

.home > div > p {
    width: 850px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    line-height: 2;
    font-size: 18px;
}

.gallery-section {
  margin-top: 90px;
}

.gallery-section > h2 {
  font-family: 'Oswald', sans-serif;
}

.gallery-section > hr {
  width: 850px;
}

.more {
  color: rgba(255, 255, 255, 0.685);
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  margin-top: 25px;
}

.more:hover {
  color: rgba(255, 255, 255, 0.904);
}

.more > svg {
  margin-right: 5px;
}

.preview {
  margin-top: 50px;
}

.preview > div > img {
  width: 850px;
  height: 850px;
  margin-top: 10px;
}

.email {
    color: white;
    margin-left: .3%;
}

.email:hover {
  color: rgb(44, 82, 248);
}

.hr-line {
    margin-top: 25px;
    width: 850px;
}

.contact {
  border: 3px solid white;
  width: 850px;
  height: 350px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 150px;
  line-height: 2;
  padding: 0;
}

.contact > h2 {
  font-family: 'Tilt Warp', cursive;
  border: 1px solid white;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
  }

  .content > p {
    font-size: 18px;
    width: 100%;
  }

  .social {
    color: white;
    margin-left: 1%;
  }

  .social:hover {
    color: rgb(44, 82, 248);
  }
  
  .back-to-top {
    color: white;
    margin-bottom: 2%;
  }

  .backtotop:hover {
    color: rgba(255, 255, 255, 0.555);
  }

  .copyright {
    margin-top: 250px;
    padding-bottom: 70px;
  }

  /* GALLERY PAGE CSS */

  .gallery > h1 {
    padding-top: 200px;
}

  .row {
    margin-top: 70px;
  }

  .column img {
    padding: 5px;
    vertical-align: middle;
    width: 900px;
    height: 900px;
  }

  .copyright-gallery {
    padding-bottom: 50px;
  }

  .top {
    padding: 40px;
  }